.ProjectItemMedium {
  display: flex;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px lightgray;
  transition: $color_transition;
  &:hover {
    box-shadow: 2px 2px 2px 2px lightgray;
    transition: $color_transition;
  }
  &__image {
    width: 300px;
    height: 200px;
  }
  &__data {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr 1fr 1fr;
    padding-left: 2.5rem;
    line-height: 3rem;
  }
  &__name {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    color: $ProjectItemMiddle__name-color;
  }
  &__description {
    font-size: 2rem;
  }
  &:hover &__name {
    font-size: 3.2rem;
  }
}
