.App {
  min-height: calc(100vh - $Header-height - $Footer-height);
  background-color: $App-color;
}

.link {
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link_hover-color;
    text-shadow: 0px 0px 1px $link_hover-color;
  }
  &_active {
    font-weight: 700;
    color: $link_active-color;
    &:hover {
      text-shadow: 0px 0px 0px $link_active_hover-color;
    }
  }
}
