$App-color: #fff;

$Header-height: 7rem;
$Footer-height: 5rem;

$Header-color: #397ca2;
$Header-font-color: #fff;
$Header-font-size: 2.4rem;

$Footer-font-color: #fff;
$Footer-font-size: 2rem;

$link-color: #fff;
$link_hover-color: #eaf2f8;
$link_active-color: #fef5e7;
$link_active_hover-color: #fad7a0;

$ProjectItemMiddle__name-color: #004b75;

$color_transition: color 0.2s ease-out;
$box-shadow_transition: box-shadow 0.2s ease-out;
$font-size-transition: font-size 0.2s ease-out;
$opacity_transition: opacity 0.2s ease-out;

/*colors:
https://color.adobe.com/ru/mythemes
color 1: #004B75
color 2: #F79005
color 3: #B87E32
color 4: #397CA2
color 5: #785F3E

$Header-color: #5499c7;
*/
